.Main-Body {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;

  .Users {
    flex: 6;

    .cardscss {
      display: flex;
      flex-direction: column;
    }
  }

  .right-Part {
    flex: 6;
  }
}
